.form input[type="text"] {
  max-width: 403px;
  height: 52px;
  transition: all 0.2s ease-out;
}
.form input[type="password"] {
  max-width: 403px;
  height: 52px;
  transition: all 0.2s ease-out;
}

.error {
  border: 2px solid #e52424 !important;
}
.error-message {
  display: none;
}
.error ~ span {
  background-color: #e52424;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  padding: 1.5px 7px;
  display: inline-block;
}
#name {
  border: 2px solid #bdbdbd !important;
}
#name ~ span {
  border: none;
  background-color: #fff;
}
.BR\(3\) {
  border-radius: 3px;
}
@media screen and (min-width: 586px) {
  .form input[type="text"] {
    max-width: 403px;
    height: 37px;
  }
  .form input[type="password"] {
    max-width: 403px;
    height: 37px;
  }
}
