.Bd {
  border-width: 1px;
}
.Bd,
.Bds\(s\),
.BdX,
.BdY,
.BdT,
.BdEnd,
.BdB,
.BdStart {
  border-style: solid;
}
.Bd\(0\) {
  border: 0;
}
.Bd\(blogBorder\) {
  border: none !important;
}
.Bd\(n\) {
  border: none;
}
.Bdc\(\#\#3892e3\)\:h:hover {
  border-color: #3892e3;
}
.Bdc\(\#cc3131\) {
  border-color: #cc3131;
}
.Bdc\(\#cc3131\) {
  border-color: #cc3131;
}
.Bdc\(\#d9dde1\) {
  border-color: #d9dde1;
}
.Bdtc\(\#d9dde1\) {
  border-top-color: #d9dde1;
}
.Bdbc\(\#d9dde1\) {
  border-bottom-color: #d9dde1;
}
.Bdbc\(\#e8ecf1\) {
  border-bottom-color: #e8ecf1;
}
.Bdsp\(1em\) {
  border-spacing: 1em;
}
.Bdsp\(2em\,33\%\) {
  border-spacing: 2em 33%;
}
.Bdts\(s\) {
  border-top-style: solid;
}
.Bdbs\(s\) {
  border-bottom-style: solid;
}
.Bdw\(2px\) {
  border-width: 2px;
}
.Bdw\(3px\) {
  border-width: 3px;
}
.Bdtw\(1px\),
.BdY,
.BdT {
  border-top-width: 1px;
}
.Bdbw\(0\)\:lc:last-child {
  border-bottom-width: 0;
}
.Bdbw\(1px\),
.BdY,
.BdB {
  border-bottom-width: 1px;
}
.Bdrs\(4px\) {
  border-radius: 4px;
}
.Bdrs\(6px\) {
  border-radius: 6px;
}
.Bdrs\(blogBorderRadius\) {
  border-radius: 6px !important;
}
.Bdrsbstart\(5px\) {
  border-bottom-left-radius: 5px;
}
.Bdrsbstart\(6px\) {
  border-bottom-left-radius: 6px;
}
.Bdrststart\(5px\) {
  border-top-left-radius: 5px;
}
.Bg\(\#fff\) {
  background: #fff;
}
.Bg\(blogBgColor\) {
  background: #fff !important;
}
.Bg\(blogEngineerBgHoverColor\)\:h:hover {
  background: rgba(136, 210, 204, 0.5) !important;
}
.Bg\(blogGithubBgHoverColor\)\:h:hover {
  background: rgba(158, 218, 238, 0.5) !important;
}
.Bg\(blogTeamBgHoverColor\)\:h:hover {
  background: rgba(149, 157, 194, 0.5) !important;
}
.Bgc\(\#\#3892e3\) {
  background-color: #3892e3;
}
.Bgc\(\#1f83de\)\:h:hover {
  background-color: #1f83de;
}
.Bgc\(\#333\) {
  background-color: #333;
}
.Bgc\(\#cc3131\) {
  background-color: #cc3131;
}
.Bgc\(\#eeeff1\) {
  background-color: #eeeff1;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(\#fff\.4\) {
  background-color: rgba(255, 255, 255, 0.4);
}
.Bgc\(\#fff\.8\) {
  background-color: rgba(255, 255, 255, 0.8);
}
.Bgc\(\#ffffff\) {
  background-color: #fff;
}
.Bgc\(t\) {
  background-color: transparent;
}
.Bgz\(45px\) {
  background-size: 45px;
}
.Bgpy\(b\) {
  background-position-y: 100%;
}
.Bgr\(r\) {
  background-repeat: repeat;
}
.Bdcl\(c\) {
  border-collapse: collapse;
}
.Bxz\(bb\),
.Row {
  box-sizing: border-box;
}
.Bxsh\(\$box-shadow-blue\)\:h:hover {
  box-shadow: 0 4px 10px 1px rgba(204, 211, 217, 0.6);
}
.Bxsh\(blogBoxShadow\) {
  box-shadow: 0 4px 8px 0 rgba(31, 37, 50, 0.22) !important;
}
.C\(\#000\)\:a:active {
  color: #000;
}
.C\(\#1f2532\) {
  color: #1f2532;
}
.C\(\#2b3945\) {
  color: #2b3945;
}
.C\(\#333\) {
  color: #333;
}
.C\(\#333\)\:li:link {
  color: #333;
}
.C\(\#3e94e0\) {
  color: #3e94e0;
}
.C\(\#3e94e0\)\:h:hover {
  color: #3e94e0;
}
.C\(\#cc3131\) {
  color: #cc3131;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#ffffff\) {
  color: #fff;
}
.C\(blogBgColor\) {
  color: #fff !important;
}
.C\(blogTitleColor\) {
  color: #000 !important;
}
.C\(n\) {
  color: none;
}
.C\(red\) {
  color: red;
}
.home-tile-item:hover .home-tile-item\:h_C\(\#\#3892e3\) {
  color: #3892e3;
}
.Cnt\(cq\)\:h\:\:b:hover::before {
  content: close-quote;
}
.Cnt\(oq\)\:\:b::before {
  content: open-quote;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(b\) {
  display: block;
}
.D\(f\) {
  display: flex;
}
.D\(ib\),
.IbBox,
.Row {
  display: inline-block;
}
.D\(n\),
.parent .parent_D\(n\) {
  display: none;
}
.D\(n\)\! {
  display: none !important;
}
.D\(n\)\:h:hover {
  display: none;
}
.sibling:checked + .sibling\:c\+D\(n\) {
  display: none;
}
.sibling:checked ~ .sibling\:c\~D\(i\) {
  display: inline;
}
.Fxg\(1\) {
  flex-grow: 1;
}
.Flxs\(0\) {
  flex-shrink: 0;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(fe\) {
  align-items: flex-end;
}
.Ai\(fs\) {
  align-items: flex-start;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Flw\(w\) {
  flex-wrap: wrap;
}
.Fl\(end\) {
  float: right;
}
.Fl\(start\) {
  float: left;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fw\(b\) {
  font-weight: 700;
}
.Fz\(12px\) {
  font-size: 12px;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(20px\) {
  font-size: 20px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(36px\) {
  font-size: 36px;
}
.Fz\(48px\) {
  font-size: 48px;
}
.Fs\(i\) {
  font-style: italic;
}
.H\(0\) {
  height: 0;
}
.H\(100\%\) {
  height: 100%;
}
.H\(1px\) {
  height: 1px;
}
.H\(32px\) {
  height: 32px;
}
.H\(50px\) {
  height: 50px;
}
.H\(70px\) {
  height: 70px;
}
.H\(9px\) {
  height: 9px;
}
.test-open .test-open_H\(a\) {
  height: auto;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(28px\) {
  line-height: 28px;
}
.Lh\(34px\) {
  line-height: 34px;
}
.Lh\(n\) {
  line-height: normal;
}
.M\(-1px\) {
  margin: -1px;
}
.M\(0\) {
  margin: 0;
}
.M\(10px\) {
  margin: 10px;
}
.M\(a\) {
  margin: auto;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.My\(18px\),
.Mt\(18px\) {
  margin-top: 18px;
}
.My\(18px\),
.Mb\(18px\) {
  margin-bottom: 18px;
}
.Mt\(-10px\) {
  margin-top: -10px;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(50px\) {
  margin-top: 50px;
}
.Mt\(5px\) {
  margin-top: 5px;
}
.Mend\(0\) {
  margin-right: 0;
}
.Mend\(10px\) {
  margin-right: 10px;
}
.Mend\(4px\) {
  margin-right: 4px;
}
.Mend\(5px\) {
  margin-right: 5px;
}
.Mb\(0\)\:lc:last-child {
  margin-bottom: 0;
}
.Mb\(100px\) {
  margin-bottom: 100px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mb\(15px\) {
  margin-bottom: 15px;
}
.Mb\(20px\) {
  margin-bottom: 20px;
}
.Mb\(30px\) {
  margin-bottom: 30px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Mb\(60px\) {
  margin-bottom: 60px;
}
.Mb\(70px\) {
  margin-bottom: 70px;
}
.Mb\(80px\) {
  margin-bottom: 80px;
}
.Mstart\(0\) {
  margin-left: 0;
}
.Mstart\(10px\) {
  margin-left: 10px;
}
.Mstart\(20px\) {
  margin-left: 20px;
}
.Mstart\(34px\) {
  margin-left: 34px;
}
.Maw\(100\%\),
.Ell {
  max-width: 100%;
}
.Maw\(1200px\) {
  max-width: 1200px;
}
.O\(n\) {
  outline: none;
}
.T\(-20px\) {
  top: -20px;
}
.T\(200px\) {
  top: 200px;
}
.End\(0\) {
  right: 0;
}
.Start\(-20px\) {
  left: -20px;
}
.Op\(\.33\) {
  opacity: 0.33;
}
.Op\(1\) {
  opacity: 1;
}
.Op\(1\)\! {
  opacity: 1 !important;
}
.test:hover > .test\:h\>Op\(1\)\:h:hover {
  opacity: 1;
}
.test:hover .test\:h_Op\(1\)\:h:hover {
  opacity: 1;
}
.Ov\(a\) {
  overflow: auto;
}
.Ov\(h\),
.Ell,
.Hidden {
  overflow: hidden;
}
.Ov\(s\) {
  overflow: scroll;
}
.test-open .test-open_Ov\(v\) {
  overflow: visible;
}
.P\(0\) {
  padding: 0;
}
.P\(10px\) {
  padding: 10px;
}
.P\(16px\) {
  padding: 16px;
}
.P\(55px\) {
  padding: 55px;
}
.Px\(16px\) {
  padding-left: 16px;
  padding-right: 16px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Px\(50px\) {
  padding-left: 50px;
  padding-right: 50px;
}
.Px\(inh\) {
  padding-left: inherit;
  padding-right: inherit;
}
.Py\(12px\) {
  padding-top: 12px;
  padding-bottom: 12px;
}
.Py\(20px\) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Py\(30px\) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Py\(40px\) {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Pt\(70px\) {
  padding-top: 70px;
}
.Pstart\(10px\) {
  padding-left: 10px;
}
.Pstart\(25px\) {
  padding-left: 25px;
}
.Pe\(n\) {
  pointer-events: none;
}
.Pos\(a\),
.StretchedBox {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Ta\(end\) {
  text-align: right;
}
.Ta\(start\) {
  text-align: left;
}
.Td\(n\) {
  text-decoration: none;
}
.Td\(n\)\:h:hover {
  text-decoration: none;
}
.Td\(u\) {
  text-decoration: underline;
}
.Td\(u\)\:h:hover {
  text-decoration: underline;
}
.Tt\(c\) {
  text-transform: capitalize;
}
.Tt\(n\) {
  text-transform: none;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Rotate\(-90deg\) {
  transform: rotate(-90deg);
}
.Rotate\(0deg\) {
  transform: rotate(0deg);
}
.Skew\(90deg\) {
  transform: skew(90deg);
}
.Skew\(90deg\,45deg\) {
  transform: skew(90deg, 45deg);
}
.Translate3d\(0\,0\,0\) {
  transform: translate3d(0, 0, 0);
}
.arrow-hover:hover .arrow-hover\:h_TranslateX\(5px\) {
  transform: translateX(5px);
}
.home-tile-item:hover .home-tile-item\:h_TranslateX\(5px\) {
  transform: translateX(5px);
}
.TranslateY\(-5px\)\:h:hover {
  transform: translateY(-5px);
}
.Trsdu\(\.3s\) {
  transition-duration: 0.3s;
}
.Trsdu\(0\.3s\) {
  transition-duration: 0.3s;
}
.Trsdu\(0\.5s\) {
  transition-duration: 0.5s;
}
.Trsp\(a\) {
  transition-property: all;
}
.Trstf\(e\) {
  transition-timing-function: ease;
}
.W\(1\/12\) {
  width: 8.3333%;
}
.W\(1\/3\),
.W\(4\/12\) {
  width: 33.3333%;
}
.W\(10\/12\) {
  width: 83.3333%;
}
.W\(100\%\),
.W\(12\/12\),
.Row {
  width: 100%;
}
.W\(11\/12\) {
  width: 91.6667%;
}
.W\(120px\) {
  width: 120px;
}
.W\(15\%\) {
  width: 15%;
}
.W\(1px\) {
  width: 1px;
}
.W\(2\/12\) {
  width: 16.6667%;
}
.W\(24px\) {
  width: 24px;
}
.W\(3\/12\) {
  width: 25%;
}
.W\(32px\) {
  width: 32px;
}
.W\(5\/12\) {
  width: 41.6667%;
}
.W\(50px\) {
  width: 50px;
}
.W\(6\/12\) {
  width: 50%;
}
.W\(7\/12\) {
  width: 58.3333%;
}
.W\(70px\) {
  width: 70px;
}
.W\(8\/12\) {
  width: 66.6667%;
}
.W\(9\/12\) {
  width: 75%;
}
.W\(9px\) {
  width: 9px;
}
.W\(a\) {
  width: auto;
}
.Z\(3\) {
  z-index: 3;
}
.BdX,
.BdEnd,
.BdB,
.BdStart {
  border-top-width: 0;
}
.BdX {
  border-right-width: 1px;
  border-left-width: 1px;
}
.BdX,
.BdT,
.BdEnd,
.BdStart {
  border-bottom-width: 0;
}
.BdY,
.BdT,
.BdB {
  border-right-width: 0;
  border-left-width: 0;
}
.BdEnd {
  border-right-width: 1px;
  border-left-width: 0;
}
.BdStart {
  border-right-width: 0;
  border-left-width: 1px;
}
.BfcHack {
  display: table-cell;
  width: 1600px;
}
.BfcHack,
.Row {
  *width: auto;
}
.BfcHack,
.Cf,
.IbBox,
.Row {
  zoom: 1;
}
.Cf:before,
.Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Ell:after {
  content: ".";
  font-size: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
.Ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  hyphens: none;
}
.Hidden {
  position: absolute !important;
  *clip: rect(1px1px1px1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
}
.IbBox {
  *display: inline;
}
.IbBox,
.Row {
  vertical-align: top;
}
.Row {
  clear: both;
  *display: block;
}
.StretchedBox {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Zoom {
  zoom: 1;
}
@media screen and (min-width: 768px) {
  .D\(b\)--sm {
    display: block;
  }
  .D\(f\)--sm {
    display: flex;
  }
  .D\(n\)--sm {
    display: none;
  }
  .Fz\(30px\)--sm {
    font-size: 30px;
  }
  .Lh\(42px\)--sm {
    line-height: 42px;
  }
  .W\(1\/12\)--sm {
    width: 8.3333%;
  }
  .W\(11\/12\)--sm {
    width: 91.6667%;
  }
  .W\(6\/12\)--sm {
    width: 50%;
  }
  .W\(7\/12\)--sm {
    width: 58.3333%;
  }
}
@media screen and (min-width: 1025px) {
  .D\(b\)--md {
    display: block;
  }
  .D\(f\)--md {
    display: flex;
  }
  .D\(n\)--md {
    display: none;
  }
  .Fz\(16px\)--md {
    font-size: 16px;
  }
  .Fz\(18px\)--md {
    font-size: 18px;
  }
  .Fz\(35px\)--md {
    font-size: 35px;
  }
  .Fz\(38px\)--md {
    font-size: 38px;
  }
  .Lh\(50px\)--md {
    line-height: 50px;
  }
  .Mb\(0\)--md {
    margin-bottom: 0;
  }
  .Mb\(100px\)--md {
    margin-bottom: 100px;
  }
  .Maw\(80\%\)--md {
    max-width: 80%;
  }
  .Px\(50px\)--md {
    padding-left: 50px;
    padding-right: 50px;
  }
  .Pt\(100px\)--md {
    padding-top: 100px;
  }
  .W\(100\%\)--md {
    width: 100%;
  }
  .W\(11\/12\)--md {
    width: 91.6667%;
  }
  .W\(4\/12\)--md {
    width: 33.3333%;
  }
  .W\(40\%\)--md {
    width: 40%;
  }
  .W\(43\%\)--md {
    width: 43%;
  }
  .W\(50\%\)--md {
    width: 50%;
  }
  .W\(8\/12\)--md {
    width: 66.6667%;
  }
  .W\(a\)--md {
    width: auto;
  }
}
