.Con {
  max-width: 400px;
  margin: auto;
}
.W\(100\) {
  width: 100%;
}
.H\(100\) {
  height: 100%;
}
.M\(a\) {
  margin: auto;
}
.BC\(W\) {
  background-color: #fff;
}
.BS\(C\) {
  background-size: cover;
}
.BR\(N\) {
  background-repeat: no-repeat;
}
.BP\(C\) {
  background-position: center;
}
.MB\(40\) {
  margin-bottom: 40px;
}
.MH\(270\) {
  min-height: 270px;
}
.BC\(purple\) {
  background-color: rgba(92, 15, 128, 0.7);
}
.wrapper .block {
  background-image: url(../shared/images/login-bg.jpg);
}
.FF\(Roboto\) {
  font-family: Roboto;
}
.FW\(B\) {
  font-weight: bold;
}
.FS\(34\) {
  font-size: 34px;
}
.LH\(40\) {
  line-height: 40px;
}
.C\(W\) {
  color: #ffffff;
}
.PT\(40\) {
  padding-top: 41px;
}
.PR\(0\) {
  padding-right: 0;
}
.PB\(20\) {
  padding-bottom: 20px;
}
.PL\(0\) {
  padding-left: 0;
}
.MT\(0\) {
  margin-top: 0;
}
.MR\(12\) {
  margin-right: 12px;
}
.MB\(15\) {
  margin-bottom: 15px;
}
.ML\(12\) {
  margin-left: 12px;
}
.FW\(500\) {
  font-weight: 500;
}
.FS\(16\) {
  font-size: 16px;
}
.LH\(20\) {
  line-height: 20px;
}
.PR\(12\) {
  padding-right: 12px;
}
.PB\(0\) {
  padding-bottom: 0;
}
.PL\(0\) {
  padding-left: 0;
}
.FS\(24\) {
  font-size: 24px;
}
.LH\(28\) {
  line-height: 28px;
}
.MB\(30\) {
  margin-bottom: 30px;
}
.MT\(5\) {
  margin-top: 5px;
}
.MR\(0\) {
  margin-right: 0;
}
.MB\(27\) {
  margin-bottom: 27px;
}
.ML\(0\) {
  margin-left: 0;
}
.FS\(\) {
  font-size: 16px;
}
.PB\(5\) {
  padding-bottom: 5px;
}
.D\(IB\) {
  display: inline-block;
}
.form span label {
  font-size: 12px;
}
.B\(2Gr\){
  border: 2px solid #bdbdbd;
}
.BSZ\(BB\){
  box-sizing: border-box;
}
.PLR\(10\){
padding-left: 10px;
padding-right: 10px;
}
.FS\(14\){
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .PL\(20\)--sm{
    padding-left: 20px;
  }
  .PR\(20\)--sm{
    padding-right: 20px;
  }
}
@media screen and (min-width: 586px) and (max-width: 761px) {
  .PL\(20\)--md{
    padding-left: 20px;
  }
  .PR\(20\)--md{
    padding-right: 20px;
  }
  .PL\(10\)--md{
    padding-left: 10px;
  }
  .PR\(10\)--md{
    padding-right: 10px;
  }
  .M\(0\)--md{
    margin: 0 !important;
  }
  .L\(0\)--md{
    left: 0 !important;
  }
  .T\(0\)--md{
    top: 0 !important;
  }
  .W\(100vw\)--md{
    width: 100vw; 
  }
  .H\(100vh\)--md{
    height: 100vw; 
  }
}
@media screen and (min-width: 586px) {
  .dektop-form {
    max-width: 290px;
  }
  .H\(100vh\)--ld{
    height: 100vh;
  }
  .P\(r\)--ld{
    position: relative;
  }
  .wrapper {
    background: linear-gradient(161.5deg, #5a5096 54.5%, #ffffff 54.54%),
      #ffffff;
  }
  .P\(a\)--ld{
    position: absolute;
  }
  .BR\(5\)--ld{
    border-radius: 5px;
  }
  .wrapper .popup {
    max-width: 760px;
    max-height: 541px;
    left: 50%;
    margin-left: -380px;
    top: 50%;
    margin-top: -274px;
    display: flex;
    min-height: 548px;
  }
  .form h1 {
    margin-bottom: 20px;
  }
  .form span {
    line-height: 16px;
    padding-bottom: 5px;
  }
  .wrapper .block .color p {
    width: 262px;
    margin: auto;
  }
  .wrapper .block .color h1 {
    width: 262px;
    margin: auto;
    padding-top: 180px;
  }
  .wrapper .block {
    min-width: 350px;
    margin-bottom: 0;
  }
}
